.container {
    border: 1px solid red;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    padding: 40px;
    overflow-y: auto;
    height: 100%;
}

.category {
    text-decoration: underline;
}